#un{
    position: absolute;
    width: 14%;
    height: 40%;
    top: 60%;
    left: 66%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    border: none;
    border-radius: 5px;
}

button{
    color:transparent;
    background:transparent;
}

button:hover{
    cursor: unset;
}
.modal {
    display: none;
}
.modal-back {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba( 0, 0, 0, .25 )
}
.modal-container {
    position: fixed;
    top: 50%;
    left: 50%;
    padding: 25px;
    background: white;
    transform: translate(-50%, -50%);
}