<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="accueil.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&display=swap" rel="stylesheet">
    <title>Accueil</title>
</head>

<body>
    <header>
        <h1>Accueil</h1>
        <nav class="nav">
            <ul>
                <li class="nav"><a href="escape.html">Escape Game</a></li>
                <li class="nav"><a href="information.html">Informations</a></li>
                <li class="nav"><a href="information.html">Paramètres</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>