<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../assets/css/connexion.css">
    <title>PageLogin</title>
</head>

<body>
    <form method="post">
        <h1>Créez votre compte</h1>

        <section>
            <h2 for="username">Nom d'utilisateur</h2>
            <input type="text" name="nom_utilisateur" id="username" placeholder="Nom d'utilisateur">

            <h2>Mot de passe</h2>
            <input type="password" name="mdp" id="password" placeholder="Mot de passe"
        </section>

        <input type="submit" id="valider">

    </form>
</body>

</html>