/* Container needed to position the button. Adjust the width as needed */
.container {
    position: relative;
    height: 100%;
    width: 100%;
}

/* Make the image responsive */
.container img {
    width: 100%;
    height: 100%;
}

/* Style the button and place it in the middle of the container/image */
.container #btn1 {
    position: absolute;
    width: 8%;
    height: 8%;
    top: 72%;
    left: 93%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    border: none;
    border-radius: 5px;
}

.container .btn:hover {
    background-color: black;
}

button{
    color:transparent;
    background:transparent;
}

button:hover{
    cursor:pointer;
}

#deux{
    background-color: chartreuse;
    position: absolute;
    width: 3%;
    height: 5%;
    top: 47%;
    left: 60%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    border: none;
    border-radius: 5px;
}

#trois{
    background-color: darkcyan;
    position: absolute;
    width: 4%;
    height: 10%;
    top: 48%;
    left: 27%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    border: none;
    border-radius: 5px;
}


.modal {
    display: none;
}

.modal-container {
    position: fixed;
    top: 50%;
    left: 50%;
    padding: 25px;
    background: white;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align:center;
    background-color: rgb(231, 231, 231);
}

#modal-close{
    cursor:pointer;
}

#modal-close:hover{
    color : rgb(54, 151, 255);
}

#un{
    background-color: blue;
    position: absolute;
    width:14%;
    height:19%;
    top: 32%;
    left:44.5%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    border: none;
    border-radius: 5px;
}

#pmod{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#inpCode{
    margin-top: 10px;
}

#valid{
    margin-top: 5px;
    width: 50px;
}

#quatre{
    background-color: blueviolet;
    position: absolute;
    width:11%;
    height:20%;
    top:50%;
    left:5%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    border: none;
    border-radius: 5px;
}

#cinq{
    background-color: red;
    position: absolute;
    width:5%;
    height:10%;
    top:49%;
    left:65%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    border: none;
    border-radius: 5px;
}

#six{
    background-color: green;
    position: absolute;
    width:9%;
    height: 16%;
    top: 51%;
    left:79%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    border: none;
    border-radius: 5px;
}